<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zou.zyqblogs.mapper.BlogMapper">
    <!--查询出博客访问量Top10-->
    <select id="blogViewsTop10" resultType="map">
        select blog_title,blog_views from tb_blog
        order by blog_views desc limit 0,10;
    </select>
    <!--查询出网站访问表近一个月内每天访问量 date_format(day_time,'%Y-%m-%d')时间格式化
    date_sub(date_format(now(),'%Y-%m-%d') ,interval 1 month)时间前推一个月-->
    <select id="blogTimeInAMonth" resultType="map">
        select * from (select day_visits,date_format(day_time,'%Y-%m-%d') day_time from website_visits
        where day_time between date_sub(date_format(now(),'%Y-%m-%d') ,interval 1 month) and now() order by day_time asc) day
    </select>
    <!--查询每个分类里面博文的数量-->
    <select id="blogCategroyOfArticleCount" resultType="map">
        select category_name,count(1) num from tb_blog_category,tb_blog where category_id=blog_category_id group by category_name
    </select>


    <!--根据blog_title字段进行模糊查询数据-->
    <select id="queryBlogByTitle" parameterType="String" resultType="map">
        select * from tb_blog where blog_title like "%"#{blog_title}"%"
    </select>

    <!--
    删除分类时，通过级联关系条件修改与之关联的博文数据，
    将blog_category_id、blog_status设置为0，blog_category_name为""
    注：条件查询中如果使用in，就需要在in中查询子查询表中的数据，根据博客中的分类id查询出blog_id
    -->
    <update id="updCategory" parameterType="java.util.Set">
        update tb_blog set blog_category_id=0,blog_category_name='',blog_status=0
         <where>
             blog_id in
             (select a.id from
             (select blog_id id from tb_blog where blog_category_id in
             <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
             </foreach>
             ) a)
         </where>
    </update>

    <!--修改博客字段，通过循环map中的key，val-->
    <update id="updBlog" parameterType="map">
        update tb_blog
        <set>
            <foreach collection="maps" index="key" item="val">
                <if test="val!=null and val!='' and key!='tableName' and key!='blog_id'">
                    ${key}=#{val},
                </if>
            </foreach>
        </set>
        <where>
            blog_id=#{maps.blog_id}
        </where>
    </update>
</mapper>