<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zou.zyqblogs.mapper.ScheduledMapper">
    <!--定时删除无用的上传图片：查询出需要上传图片表中的图片字段的整合，用,分割
    CONCAT用于将两个字段整合成一个字符串 -->
    <select id="finAllImgDel" resultType="map">
        select CONCAT(blog_cover_image,',',category_icon) delimg from tb_blog join tb_blog_category on blog_category_id=category_id
    </select>
</mapper>