<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文章</title>
    <meta name="keywords" content="想要别人搜索到这个页面的词"/>
    <meta name="description" content="网页的简单介绍">
    <meta name="author" content="写这个网页的作者或者网页所属的公司">
    <link th:href="@{/css/Article.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/layui/css/layui.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/css/right_left_component.css}" type="text/css" rel="stylesheet" />
    <style>
        #doc-content{
            padding: 0;
        }
        #img{
            float: right;
            vertical-align: middle;
            height: 37px;
            width: 100px;
        }
    </style>
</head>
<body>
    <div class="blogs-main clear">
        <div th:replace="~{afterEnd/component/component::index-left}"></div>
        <div class="blogs-fixed-1">
            <div class="blogs-center shadow">
                <div class="center-body">
                    <h1 th:text="${blog.get('blog_title')}"></h1>
                    <ul class="clear">
                        <li>
                            <a th:href="@{'/index.html?blog_category_name='+${blog.get('blog_category_name')}}">
                                [[${blog.get('blog_category_name')}]]
                            </a>
                        </li>
                        <li>
                            [[${blog.get('create_time')}]]
                        </li>
                    </ul>
                    <hr />
                    <!--文章主体内容-->
                    <div id="doc-content">
                        <textarea style="display:none;" placeholder="markdown">[[${blog.get('blog_content')}]]</textarea>
                    </div>


                    <div class="blogs-comment">
                        <div class="comment-title">博文评论</div>
                        <ul id="commentUl">
                            <li class="clear" th:each="comment:${comments.list}">
                                <div class="comment-image">
                                    <img th:src="@{/images/head.jpg}" />
                                </div>
                                <div class="comment-content">
                                    <p th:text="${comment.get('commentator')}"></p>
                                    <p>评论时间: [[${comment.get('comment_create_time')}]]</p>
                                    <div class="comment-body" th:text="${comment.get('comment_body')}"></div>
                                    <div th:if="${comment.get('reply_body')!=''}">
                                        <p>回复: </p>
                                        <div class="comment-reply">
                                            <p><span>xx</span><span>[[${comment.get('reply_body')}]]</span><span>[[${comment.get('comment_create_time')}]]</span></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div id="commentPage"></div>
                    </div>

                    <div class="comment-title">添加评论</div>
                    <div class="layui-form comment-form">
                        <input type="hidden" name="blog_id" th:value="${blog.get('blog_id')}" />
                        <div class="layui-form-item">
                            <input type="text" name="commentator" required lay-verify="required" autocomplete="off" placeholder="请输入你的称谓" class="layui-input">
                        </div>
                        <div class="layui-form-item">
                            <input type="text" name="email" lay-verify="email" autocomplete="off" placeholder="请输入你的邮箱" class="layui-input">
                        </div>
                        <div class="layui-form-item">
                            <input style="width: 85%;display: inline-block" type="text" name="verify" required lay-verify="required" autocomplete="off" placeholder="请输入验证码" class="layui-input">
                            <img src="/img" id="img" />
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <textarea placeholder="请输入评论内容" name="comment_body" required lay-verify="required" class="layui-textarea"></textarea>
                        </div>
                        <div class="layui-form-item">
                            <button style="float: right;" type="submit" class="layui-btn" lay-submit lay-filter="sub">立即提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{afterEnd/component/component::index-right}"></div>
    </div>

    <!--需要导入以下资源-->
    <link rel="stylesheet" th:href="@{/editor/css/editormd.preview.css}" />
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/jq.js}"></script>
    <script th:src="@{/editor/lib/marked.min.js}"></script>
    <script th:src="@{/editor/lib/prettify.min.js}"></script>
    <script th:src="@{/editor/lib/raphael.min.js}"></script>
    <script th:src="@{/editor/lib/underscore.min.js}"></script>
    <script th:src="@{/editor/lib/sequence-diagram.min.js}"></script>
    <script th:src="@{/editor/lib/flowchart.min.js}"></script>
    <script th:src="@{/editor/lib/jquery.flowchart.min.js}"></script>
    <script th:src="@{/editor/editormd.js}"></script>

    <script type="text/javascript">
        var testEditor;
        $(function () {
            //进入文章页面，使文章的阅读量+1
            $.post('/blogViews',
                {blog_id: [[${blog.get('blog_id')}]],
                    blog_views: [[${blog.get('blog_views')}]]+1},{});

            //将markdown转HTML 注意：这里是上面DIV的id
            testEditor = editormd.markdownToHTML("doc-content", {
                htmlDecode: "style,script,iframe", //打开HTML标签识别，指定识别标签
                emoji: true,
                taskList: true, //启用Github风味Markdown任务列表
                tocm: true, // 使用[TOCM]，自动创建ToC下拉菜单
                tex: true, // 默认不解析
                flowChart: true, // 默认不解析
                sequenceDiagram: true, // 默认不解析
                codeFold: true //开启代码折叠
            });


            //搜索功能
            $("#search").blur(function(){
                window.location.href="/index.html?blog_title="+$('#search').val();
            });
            $(".tagBlog").click(function () {
                var tag=$(this).text();
                window.location.href="/index.html?blog_tags="+tag.substring(0,tag.indexOf('('));
            })

            $("img").click(function () {
                $("#img").attr("src", "/img")
            })
            layui.use(['form','layer','laypage','util'],function () {
                var form = layui.form;
                var layer=layui.layer;
                var laypage=layui.laypage;
                var util=layui.util;


                laypage.render({
                    elem: 'commentPage' //注意，这里的 test1 是 ID，不用加 # 号
                    ,count: [[${comments.total}]] //数据总数，从服务端得到
                    ,limit: [[${comments.pageSize}]]
                    ,theme: '#1E9FFF'
                    ,jump: function(obj, first){
                        //obj包含了当前分页的所有参数，比如：
                        console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                        console.log(obj.limit); //得到每页显示的条数
                        //首次不执行
                        if(!first){
                            $.ajax({
                                url:'/commentfinall',
                                data:{
                                    page: obj.curr,
                                    limit: obj.limit,
                                    blog_id: [[${blog.get('blog_id')}]]
                                },
                                type: 'post',
                                success: function (data){
                                    if(!data.code>0){
                                        $("#commentUl").html("");
                                        var list=data.obj.list;
                                        var commentbody="";
                                        for(var i=0;i<list.length;i++){
                                            var b=list[i].reply_body!=''
                                            commentbody+=
                                                "<li class='clear'>" +
                                                "   <div class='comment-image'>" +
                                                "       <img src='/images/head.jpg' />" +
                                                "   </div>" +
                                                "   <div class='comment-content'>" +
                                                "       <p>"+util.escape(list[i].commentator)+"</p>" +
                                                "       <p>评论时间: "+util.escape(util.toDateString(list[i].comment_create_time,'yyyy-MM-dd'))+"</p>" +
                                                "       <div class='comment-body'>"+util.escape(list[i].comment_body)+"</div>";
                                            if(b){
                                                commentbody+=
                                                "       <div>" +
                                                "           <p>回复: </p>" +
                                                "           <div class='comment-reply'>" +
                                                "               <p><span>xx</span><span>"+util.escape(list[i].reply_body)+"</span><span>"+util.escape(util.toDateString(list[i].comment_create_time,'yyyy-MM-dd'))+"</span></p>" +
                                                "           </div>" +
                                                "       </div>"
                                            }else{
                                                commentbody+=
                                                    "       <div>" +
                                                    "           <p>作者暂无回复</p>" +
                                                    "       </div>"
                                            }
                                            commentbody+=
                                                "   </div>" +
                                                "</li>";
                                            $('#commentUl').append(commentbody);
                                            commentbody='';
                                        }
                                    }
                                }
                            })
                        }
                    }
                });

                form.on('submit(sub)',function(req){
                    console.log(req.field);
                    $.ajax({
                        url: '/comment/add',
                        type: 'post',
                        data: req.field,
                        success:function(data){
                            if(!data.code>0){
                                layer.msg('评论添加成功，等待审核！');
                            }
                        }
                    });
                    return false;
                });
            })
        });

    </script>
</body>
</html>