<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>友链</title>
    <meta name="keywords" content="想要别人搜索到这个页面的词"/>
    <meta name="description" content="网页的简单介绍">
    <meta name="author" content="写这个网页的作者或者网页所属的公司">
    <link th:href="@{/css/Blogs.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/layui/css/layui.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/css/right_left_component.css}" type="text/css" rel="stylesheet" />
    <style>
        .link-type{
            color: #333;
            margin-top: 20px;
        }
        .link-type:first-child{
            margin-top: 0;
        }
        .link-ul{
            list-style: disc;
            list-style-position: inside;
            margin: 15px;
        }
        .link-ul>li{
            padding: 0;
            border:none;
        }
        .link-ul li a{
            color: blue;
        }
    </style>
</head>
<body>
    <div class="blogs-main clear">
        <div th:replace="~{afterEnd/component/component::index-left}"></div>
        <div class="blogs-fixed-1">
            <div class="blogs-center shadow">
                <div class="center-body">
                    <h3 class="link-type">友链</h3>
                    <ul class="link-ul">
                        <li th:each="link:${link1}">
                            <a th:href="${link.get('link_url')}">[[${link.get('link_name')}]]</a> - [[${link.get('link_description')}]]
                        </li>
                    </ul>
                    <h3 class="link-type">推荐网站</h3>
                    <ul class="link-ul">
                        <li th:each="link:${link2}">
                            <a th:href="${link.get('link_url')}">[[${link.get('link_name')}]]</a> - [[${link.get('link_description')}]]
                        </li>
                    </ul>
                    <h3 class="link-type">个人链接</h3>
                    <ul class="link-ul">
                        <li th:each="link:${link3}">
                            <a th:href="${link.get('link_url')}">[[${link.get('link_name')}]]</a> - [[${link.get('link_description')}]]
                        </li>
                    </ul>
                    <h2 class="link-type">链接须知</h2>
                    <div style="margin: 10px 0 0 0;">
                        <p>欢迎互换友链^_^不过请确定贵站可以正常运营.</p>
                        <ul class="link-ul">
                            <li>我的邮箱是<span th:text="${set.get('yourEmail')}"></span>,格式要求如下:</li>
                            <li>网站名称:<span th:text="${set.get('websiteName')}"></span></li>
                            <li>网站描述∶<span th:text="${set.get('websiteDescription')}"></span></li>
                        </ul>
                        <p>请保证自己的链接长期有效,不然可能会被清理.</p>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{afterEnd/component/component::index-right}"></div>

    </div>

    <script th:src="@{layui/layui.js}"></script>
    <script th:src="@{js/jq.js}"></script>
    <script>
        $(function (){
            $("#search").blur(function(){
                window.location.href="/index.html?blog_title="+$('#search').val();
            });
            $(".tagBlog").click(function () {
                var tag=$(this).text();
                window.location.href="/index.html?blog_tags="+tag.substring(0,tag.indexOf('('));
            })
        });
    </script>
</body>
</html>