.center-body{
    padding: 30px 25px 10px;
}
.center-body li{
    padding: 25px 0;
    border-bottom:1px solid rgba(0,0,0,0.1);
}
.center-body li:first-child{
    padding-top: 0;
}
.center-body li:last-child{
    border:none;
}
.center-body .article-brief{
    width: 460px;
    float: left;
}
.center-body .article-brief h2{
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
}
.center-body .article-brief h2:hover{
    color: #999;
}
.center-body .article-brief>p{
    font-size: 14px;
    margin-bottom: 10px;
    color: #999;
    height: 64px;
    overflow: hidden;
    white-space: pre-wrap;
}
.center-body .article-images{
    float: right;
}
.center-body .article-images img{
    width: 211px;
    height: 132px;
 }
.center-body .article-images a{
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.center-body .article-msg{
    font-size: 12px;
    line-height: 20px;
}
.center-body .article-msg span{
    display: inline-block;
    margin-right: 10px;
}

